<mat-dialog-content>
  <form>
    <mat-form-field appearance="outline" color="primary">
      <mat-label>{{ "task-name-label" | translate }}</mat-label>
      <input
        matInput
        (keydown.enter)="onAddTaskClick()"
        type="text"
        name="task name"
        required
        minlength="1"
        maxlength="100"
        [(ngModel)]="name"
      />
    </mat-form-field>
  </form>
  <div class="options">
    <mat-form-field>
      <mat-label>{{ "select-due-date-label" | translate }}</mat-label>
      <input matInput [matDatepicker]="picker" [value]="due_date.value" />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-stroked-button (click)="onClickToday()">
      {{ "today-date-button" | translate }}
    </button>
    <button mat-stroked-button (click)="onClickTomorrow()">
      {{ "tomorrow-date-button" | translate }}
    </button>
    <mat-form-field>
      <mat-label>{{ "priority-label" | translate }}</mat-label>
      <mat-select [(ngModel)]="priority">
        @for (prio of priorityTypes; track $index) {<mat-option [value]="prio"
          ><mat-icon class="priority-element-{{ prio }}">flag</mat-icon
          >{{ prio }}</mat-option
        >}
      </mat-select></mat-form-field
    >
  </div>
  <mat-form-field>
    <mat-label>{{ "select-labels-label" | translate }}</mat-label>
    <mat-select [formControl]="labels" multiple>
      @for (label of labelList; track label) {
      <mat-option [value]="label">{{ label.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>{{ "assign-user-label" | translate }}</mat-label>
    <mat-select [(ngModel)]="assigned_User">
      <mat-option>{{ "no-user-option" | translate }}</mat-option>
      @for (user of userList; track user) {
      <mat-option [value]="user">{{ user.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">
    {{ "cancel-button" | translate }}
  </button>
  @if (isNewTask) {
  <button mat-button [disabled]="name() === ''" (click)="onAddTaskClick()">
    {{ "add-task" | translate }}
  </button>
  } @else {
  <button mat-button [disabled]="name() === ''" (click)="onAddTaskClick()">
    {{ "save-task" | translate }}
  </button>
  }
</mat-dialog-actions>
