<mat-dialog-content>
  <form>
    <mat-form-field appearance="outline" color="primary" class="input-form">
      <mat-label>{{ "label-name-input-label" | translate }}</mat-label>
      <input
        matInput
        type="text"
        name="label name"
        required
        minlength="1"
        maxlength="40"
        [(ngModel)]="name"
      />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">
    {{ "cancel-button" | translate }}
  </button>
  @if (isNewLabel) {
  <button mat-button [disabled]="name() === ''" (click)="onAddLabelClick()">
    {{ "add-label" | translate }}
  </button>
  } @else {
  <button mat-button [disabled]="name() === ''" (click)="onAddLabelClick()">
    {{ "save-label" | translate }}
  </button>
  }
</mat-dialog-actions>
