.toolbar-row a {
  margin-left: 10px;
}

.fixed-toolbar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo-img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  margin-right: 20px;
}

.lang-switcher {
  margin-right: 0px;
  margin-left: auto;
}

.settings-menu {
  margin-left: 10px;
}

@media (min-width: 621px) {
  .nav-buttons {
    display: block;
  }
  .lang-switcher {
    display: block;
  }
  .settings-menu {
    visibility: hidden;
  }
}
@media (max-width: 620px) {
  .nav-buttons {
    display: none;
  }
  .lang-switcher {
    display: none;
  }
  .settings-menu {
    visibility: visible;

    margin-left: auto;
  }
}
