.toolbar-row a {
  margin-left: 10px;
}

.logo-img {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  margin-right: 20px;
}

.lang-switcher {
  margin-right: 0px;
  margin-left: auto;
}

.settings-menu {
  margin-left: 10px;
}
