<div class="tool-bar">
  <mat-icon class="checked-icon">check_circle_outline</mat-icon>
  <mat-slide-toggle
    [(ngModel)]="checked_slider"
    (click)="$event.stopPropagation()"
    (change)="toggleFilterCompletedTasks()"
    labelPosition="before"
  >
    {{ "completed-slider-label" | translate }}
  </mat-slide-toggle>

  <button
    mat-mini-fab
    class="add-task-button"
    color="primary"
    (click)="openNewTodoView()"
  >
    <mat-icon>add</mat-icon>
  </button>
  <button mat-mini-fab class="filter-options-button" [matMenuTriggerFor]="menu">
    <mat-icon>subject</mat-icon>
  </button>
</div>

<mat-menu #menu="matMenu">
  <mat-label class="sort-label">
    <h5 style="margin-left: 8px">{{ "sort-by-label" | translate }}</h5>
  </mat-label>
  <span mat-menu-item [matMenuTriggerFor]="sortMenu">
    <mat-icon>sort</mat-icon>
    <span>{{ "sortBy-menu-button" | translate }}</span>
  </span>

  <div mat-menu-item>
    <mat-slide-toggle
      [(ngModel)]="ascending"
      (click)="$event.stopPropagation()"
      labelPosition="before"
    >
      <mat-icon>swap_vert</mat-icon>
      {{ "ascending-slider-label" | translate }}
    </mat-slide-toggle>
  </div>

  <mat-divider></mat-divider>
  <mat-label class="filter-label">
    <h5 style="margin-left: 8px">{{ "filter-by-label" | translate }}</h5>
  </mat-label>
  <span mat-menu-item [matMenuTriggerFor]="priorityMenu">
    <mat-icon>flag</mat-icon>
    <span>{{ "priority-filter-menu-button" | translate }}</span>
  </span>
  <span mat-menu-item [matMenuTriggerFor]="userMenu">
    <mat-icon>face</mat-icon>
    <span>{{ "user-filter-menu-button" | translate }}</span>
  </span>
  <span mat-menu-item [matMenuTriggerFor]="labelMenu">
    <mat-icon>label</mat-icon>
    <span>{{ "label-filter-menu-button" | translate }}</span>
  </span>
  <mat-divider></mat-divider>
  <button class="reset-button" mat-menu-item (click)="clearAllFilters()">
    <mat-icon>clear</mat-icon>
    {{ "reset-button" | translate }}
  </button>
</mat-menu>

<mat-menu #sortMenu="matMenu">
  <button mat-menu-item (click)="sortByField = 'name'">
    <mat-icon>sort</mat-icon>
    <span>{{ "sortBy-name-menu-button" | translate }}</span>
  </button>
  <button mat-menu-item (click)="sortByField = 'priority'">
    <mat-icon>sort</mat-icon>
    <span>{{ "sortBy-priority-menu-button" | translate }}</span>
  </button>
  <button mat-menu-item (click)="sortByField = 'due_date'">
    <mat-icon>sort</mat-icon>
    <span>{{ "sortBy-dueDate-menu-button" | translate }}</span>
  </button>
  <button mat-menu-item (click)="sortByField = 'assigned_user'">
    <mat-icon>sort</mat-icon>
    <span>{{ "sortBy-user-menu-button" | translate }}</span>
  </button>
</mat-menu>
<mat-menu #priorityMenu="matMenu">
  @for (prio of priorityTypes; track $index) {
  <button mat-menu-item (click)="setPriorityFilter(prio)">
    <mat-icon class="priority-element-{{ prio }}">flag</mat-icon>
    {{ prio }}
  </button>
  }
</mat-menu>
<mat-menu #userMenu="matMenu">
  @for (user of users; track user) {
  <button mat-menu-item (click)="setUserFilter(user.id)">
    <mat-icon>face</mat-icon>{{ user.name }}
  </button>
  }
</mat-menu>
<mat-menu #labelMenu="matMenu">
  @for (label of labels; track label) {
  <button mat-menu-item (click)="setLabelsFilter(label)">
    <mat-icon>label</mat-icon>{{ label.name }}
  </button>
  }
</mat-menu>

<div class="todo-list">
  @for (todo of (todos| sort:sortByField:ascending() |
  filterCompleted:filterCompleted | filterLabels:filterLabels |
  filterPriorities:filterPriority | filterUser:filterUserId ); track todo) {
  <mat-card
    color="secondary"
    class="todo-item {{ todo.done ? 'done' : '' }}"
    (click)="openSelectedTodoView($index)"
  >
    <div class="upper-todo-section">
      <div class="checker">
        <mat-checkbox
          class="checkbox-done {{ todo.priority }}"
          type="checkbox"
          [checked]="todo.done"
          (click)="toggleIfTaskDone(todo.id, $event)"
        />
      </div>
      <span class="content">{{ todo.name }}</span>
      @if (todo.assigned_user) {<mat-card color="primary" class="user-card">
        {{ todo.assigned_user.name }} </mat-card
      >} @if (todo.due_date) { @if (todo.due_date.includes(year.toString())) {
      <div class="date">
        {{ todo.due_date.toString() | date : "dd/MMM" }}
      </div>
      } @else {
      <div class="date">
        {{ todo.due_date.toString() | date : "dd/MMM/yyyy" }}
      </div>
      } }

      <a
        href="javascript:void(0);"
        class="float-right remove-todo-item"
        (click)="deleteTodo(todo.id, $event)"
      >
        <mat-icon>delete</mat-icon>
      </a>
    </div>
    <div class="lower-todo-section">
      @for (label of todo.labels; track $index) {
      <mat-card class="label-card"> {{ label.name }} </mat-card>
      }
    </div>
  </mat-card>
  }
  <span class="add-task-span" (click)="openNewTodoView()">
    <mat-icon>add</mat-icon>
    {{ "add-task" | translate }}
  </span>
</div>
