<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card color="primary" class="main-card">
        <mat-card-header>
          <div
            style="
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex-direction: row;
              padding-bottom: 8px;
            "
          >
            <mat-card-title
              ><h1>{{ "todoapp-title" | translate }}</h1></mat-card-title
            >
            @if (!see_TodoList) {
            <button
              mat-fab
              extended
              class="return-button"
              (click)="activate_TodoList()"
            >
              <mat-icon>arrow_back</mat-icon>
              <span>Return</span>
            </button>
            }
            <button
              class="settings-button"
              mat-icon-button
              [matMenuTriggerFor]="menu"
            >
              <mat-icon>menu</mat-icon>
            </button>
          </div>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="activate_UserView()">
              <mat-icon>edit</mat-icon>
              <span>{{ "edit-user-button" | translate }}</span>
            </button>
            <button mat-menu-item (click)="activate_LabelView()">
              <mat-icon>edit</mat-icon>
              <span>{{ "edit-labels-button" | translate }}</span>
            </button>
          </mat-menu>
        </mat-card-header>
        <mat-card-content class="card-body">
          @if (see_TodoList) {<app-todo-list></app-todo-list>} @if
          (see_UserView) {<todo-user-view></todo-user-view>} @if (see_LabelView)
          {<todo-labels-view></todo-labels-view>}
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
