<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card color="primary" class="main-card">
        <mat-card-header>
          <mat-card-title
            ><h1>{{ "todoapp-title" | translate }}</h1></mat-card-title
          >
          <button
            class="settings-button"
            mat-icon-button
            aria-label="Example icon-button with a menu"
          >
            <mat-icon>menu</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content class="card-body">
          <mat-button-toggle-group name="filter" aria-label="Font Style">
            <mat-button-toggle value="all" (change)="filterForAll()">{{
              "all" | translate
            }}</mat-button-toggle>
            <mat-button-toggle value="active" (change)="filterForActive()">{{
              "active" | translate
            }}</mat-button-toggle>
            <mat-button-toggle
              value="completed"
              (change)="filterForCompleted()"
              >{{ "completed" | translate }}</mat-button-toggle
            >
          </mat-button-toggle-group>
          <button
            mat-fab
            class="add-task-button"
            color="primary"
            (click)="openDialog()"
          >
            <mat-icon>add</mat-icon>
          </button>
          <div class="todo-list {{ filterConfig }}">
            @for (todo of todos; track todo) {
            <mat-card
              color="secondary"
              class="todo-item {{ todo.done ? 'done' : '' }}"
              (click)="openSelectedTodoView($index)"
            >
              <div class="upper-todo-section">
                <div class="checker">
                  <mat-checkbox
                    class="checkbox-done {{ todo.priority }}"
                    type="checkbox"
                    [checked]="todo.done"
                    (click)="toggleIfTaskDone(todo.id, $event)"
                  />
                </div>
                <span class="content">{{ todo.name }}</span>
                @if (todo.assigned_user) {<mat-card
                  color="primary"
                  class="user-card"
                >
                  {{ todo.assigned_user.name }} </mat-card
                >} @if (todo.due_date) {
                <div class="date">
                  {{ todo.due_date.toString() | date : "dd/MMM" }}
                </div>
                }

                <a
                  href="javascript:void(0);"
                  class="float-right remove-todo-item"
                  (click)="deleteTodo(todo.id, $event)"
                >
                  <mat-icon>delete</mat-icon>
                </a>
              </div>
              <div class="lower-todo-section">
                @for (label of todo.labels; track $index) {
                <mat-card class="label-card"> {{ label.name }} </mat-card>
                }
              </div>
            </mat-card>
            }
            <span class="add-task-span" (click)="openDialog()">
              <mat-icon>add</mat-icon>
              {{ "add-task" | translate }}
            </span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
