<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="card" color="primary">
        <mat-card-content class="card-body">
          <form (ngSubmit)="addTodo()">
            <mat-form-field>
              <input
                matInput
                type="text"
                name="inputTodo"
                placeholder="{{ 'newTask' | translate }}"
                [(ngModel)]="inputTodo"
              />
            </mat-form-field>
          </form>
          <mat-button-toggle-group name="filter" aria-label="Font Style">
            <mat-button-toggle value="all" (change)="filterForAll()">{{
              "all" | translate
            }}</mat-button-toggle>
            <mat-button-toggle value="active" (change)="filterForActive()">{{
              "active" | translate
            }}</mat-button-toggle>
            <mat-button-toggle
              value="completed"
              (change)="filterForCompleted()"
              >{{ "completed" | translate }}</mat-button-toggle
            >
          </mat-button-toggle-group>
          <div class="todo-list {{ filterConfig }}">
            @for (todo of todos; track todo) {
            <div class="todo-item {{ todo.done ? 'done' : '' }}">
              <div class="checker">
                <mat-checkbox
                  class="checkbox-done"
                  type="checkbox"
                  [checked]="todo.done"
                  (click)="toggleIfTaskDone(todo.id)"
                />
              </div>
              <span class="content">{{ todo.name }}</span>
              <a
                href="javascript:void(0);"
                class="float-right remove-todo-item"
                (click)="deleteTodo(todo.id)"
              >
                <mat-icon>delete</mat-icon>
              </a>
            </div>
            }
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
